@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100&family=BhuTuka+Expanded+One&family=Fjalla+One&family=Nunito+Sans:wght@200&family=Rubik:wght@300&family=Ubuntu:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
}

body {
    background: url('beve/bsn.jpg') fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar{
    background-color: #4169E1;
    height: 6vh;
    padding-left: 50px;
}

.navbar a {
    color: #f0ffff;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.navbar ul {
    float: right;
    margin-right: 12vw;
    margin-top: 13px;
}

.navbar ul li{
    display: inline;
    list-style: none;
    padding: 10px;
}

.navbar ul li a{
    color: #f0ffff;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar ul li a:hover {
    text-decoration: underline;
    color: #00008b;
}

.container{
    font-family: 'Helvetica Neue', sans-serif;
}

.container h1{
    text-align: start;
    margin-top: 11vh;
    margin-left: 14vh;
    padding: 5px;
    text-shadow: 1px 4px 2px #F0E68C	;
    color: #04046e;
    font-style: italic;
    font-size: 5em;
}

.footer {
    background-color: #4169E1;
    text-align: center;
    padding: 2px;
    font-family: Arial, Helvetica, sans-serif;
}


