body {
    background-color: #091435;   
}
.title {
    padding: 3vh;
}
.title a, h2 {
    color: #f0ffff;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}
h2 {
    text-align: center;
    font-size: 40px;
}
.column {
    float: left;
    width: 30%;
    padding: 10px;
}
.column img {
    border-radius: 15px;
}
.column figcaption {
    padding: 15px;
    color: #f0ffff;
}
img {
    width: 100%;
    height: 250px;
}
figcaption {
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 21px;
}
